<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Здравствуйте! На ваше объявление "{{ target }}" откликнулся пользователь {{ author }}:</h3>
    <br><h4>{{ text }}</h4>
    <p><h3>Чтобы принять или отклонить этот отклик, а также посмотреть остальные, перейдите по <a href="http://127.0.0.1:8000/responses/">этой ссылке</a>.</h3>
</body>
</html>