{% extends 'default.html' %}

{% load custom_tags %}

{% block title %}

{% if 'create' in request.path %}
    {% set_var "Создать" as operation %}
{% elif 'edit' in request.path %}
    {% set_var "Изменить" as operation %}
{% endif %}

{{ operation }} объявление

{% endblock title %}

{% block content %}

{% if 'create' in request.path %}
    {% set_var "Создать" as operation %}
{% elif 'edit' in request.path %}
    {% set_var "Изменить" as operation %}
{% endif %}

<h1>{{ operation }} объявление</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Сохранить" />
</form>

{% endblock content %}
